<section>
  <h1 style="margin-bottom:5px">About</h1>

  <img style="float:left; margin-right:10px;" src="http://dl.dropbox.com/u/2144189/dlh.jpg" width="80px" height="80px">
  <p style="line-height: 1.2em;">
    <a href="https://twitter.com/darrinholst">Darrin Holst</a> - I write code in and around <a href="http://g.co/maps/6byuw">Bouton, Iowa.</a> I'm not an engineer. I'm not a rockstar. I'm not a ninja. I prefer working with Ruby and JavaScript, but I'm proficient in many other areas. I'm willing to be <a href="https://github.com/darrinholst">hired</a>.
  </p>
</section>
