.fa-rss-fu-adblock:before {
  content: "\f09e";
}

.fa-twitter-fu-adblock:before {
  content: "\f099";
}

figure.full {
  margin: 0;
  width: 100%;

  img {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
  }

  figcaption {
    margin-top: 8px;
    font-style: italic;
    color: #999;
    font-size: .8em;
  }

  & + p {
    margin-top: 32px;
  }
}

.home {
  td {
    border: none;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: 64em) {
  .h1, h1 {
      font-size: 4rem;
  }
}
